# Binaries for programs and plugins
*.exe
*.dll
*.so
*.old
*.bin
*.dylib
*.db

# Test binary, build with `go test -c`
*.test
*.o
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
dokucoin
README.1.md

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
